$amaryllis-notifications-container-top: 0 !default;
$amaryllis-notifications-container-right: 0 !default;
$amaryllis-notifications-container-z-index: 999999 !default;
$amaryllis-notifications-container-width: 320px !default;
$amaryllis-notifications-container-top-padding: 0px !default;
$amaryllis-notifications-container-max-height: calc(100% - 30px) !default;
$amaryllis-notifications-container-right-padding: 15px !default;

$amaryllis-notifications-border-radius: 2px !default;
$amaryllis-notifications-padding-top: 15px !default;
$amaryllis-notifications-padding-right: 15px !default;
$amaryllis-notifications-padding-bottom: 15px !default;
$amaryllis-notifications-padding-left: 58px !default;
$amaryllis-notifications-color: #fff !default;
$amaryllis-notifications-background-color: #ccc !default;
$amaryllis-notifications-box-shadow: 0 0 12px #999 !default;
$amaryllis-notifications-cursor: pointer !default;
$amaryllis-notifications-font-size: 1em !default;
$amaryllis-notifications-line-height: 1.2em !default;
$amaryllis-notifications-opacity: 0.9 !default;
$amaryllis-notifications-margin-top: 15px !default;

$amaryllis-notifications-hover-opacity: 1 !default;
$amaryllis-notifications-title-font-size: 1em !default;
$amaryllis-notifications-title-line-height: 1.2em !default;
$amaryllis-notifications-title-font-weight: bold !default;
$amaryllis-notifications-title-margin: 0 0 5px 0 !default;

$amaryllis-notifications-transition-time: 2s !default;
$amaryllis-notifications-transition-time-out: 1s !default;

$amaryllis-notifications-info-background-color: #2f96b4 !default;
$amaryllis-notifications-success-background-color: #51a351 !default;
$amaryllis-notifications-warning-background-color: #f89406 !default;
$amaryllis-notifications-error-background-color: #bd362f !default;
$amaryllis-notifications-happy-background-color: pink !default;

$amaryllis-notifications-icon-top: 50% !default;
$amaryllis-notifications-icon-left: 15px !default;
$amaryllis-notifications-icon-margin-top: -14px !default;
$amaryllis-notifications-icon-width: 28px !default;
$amaryllis-notifications-icon-height: 28px !default;
$amaryllis-notifications-icon-font-size: 28px !default;
$amaryllis-notifications-icon-line-height: 28px !default;