@import '_variables.scss';

.amaryllis-notification-container {
    box-sizing: border-box;
    position: fixed;
    top: $amaryllis-notifications-container-top;
    z-index: $amaryllis-notifications-container-z-index;
    width: $amaryllis-notifications-container-width;
    padding: $amaryllis-notifications-container-top-padding $amaryllis-notifications-container-right-padding;
    max-height: $amaryllis-notifications-container-max-height;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: arial,sans-serif
}

.amaryllis-notification-container-top-left {
    left: $amaryllis-notifications-container-right;
    direction: rtl;
}

.amaryllis-notification-container-top-right {
    right: $amaryllis-notifications-container-right;
    direction: ltr;
}

.amaryllis-notification {
    box-sizing: border-box;
    direction: ltr;
    padding: 15px;
    border-radius: $amaryllis-notifications-border-radius;
    color: $amaryllis-notifications-color;
    background-color: $amaryllis-notifications-background-color;
    box-shadow: $amaryllis-notifications-box-shadow;
    cursor: $amaryllis-notifications-cursor;
    font-size: $amaryllis-notifications-font-size;
    line-height: $amaryllis-notifications-line-height;
    position: relative;
    opacity: $amaryllis-notifications-opacity;
    margin-top: $amaryllis-notifications-margin-top;
    .amaryllis-title {
        font-size: 1rem;
        line-height: $amaryllis-notifications-title-line-height;
        font-weight: $amaryllis-notifications-title-font-weight;
        margin-bottom: 5px;
    }
    .amaryllis-message {
        font-size:0.9rem;
    }
    .amaryllis-message-action-container{
        text-align: right;
        .amaryllis-message-action {
            margin-top:5px;
            font-weight: bold;
            display: inline-block;
        }
    }

    &:hover, &:focus {
        opacity: $amaryllis-notifications-hover-opacity;
    }

    .amaryllis-notification-icon {
        position: absolute;
        top: $amaryllis-notifications-icon-top;
        left: $amaryllis-notifications-icon-left;
        margin-top: $amaryllis-notifications-icon-margin-top;
        display: block;
        width: $amaryllis-notifications-icon-width;
        height: $amaryllis-notifications-icon-height;
        font-size: $amaryllis-notifications-icon-font-size;
        text-align: center;
        line-height: $amaryllis-notifications-icon-line-height;
    }

    .amaryllis-notification-icon-fa {
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
    }
}

.amaryllis-notification-icon-container {
    padding-left: 58px;
}

.amaryllis-notification-info {
    background-color: $amaryllis-notifications-info-background-color;
  }
  
.amaryllis-notification-success {
    background-color: $amaryllis-notifications-success-background-color;
  }
  
.amaryllis-notification-warning {
    background-color: $amaryllis-notifications-warning-background-color;
  }
  
.amaryllis-notification-error {
    background-color: $amaryllis-notifications-error-background-color;
  }

.amaryllis-notification-happy {
      background-color: $amaryllis-notifications-happy-background-color;
      color: red;
}

.amaryllis-notification-generic {
    background: #141311;
    color: #b7b7b6;
}





// CSS Tranistion
.amaryllis-notification-top-right-enter, .amaryllis-notification-top-left-enter {
    visibility: hidden;
    opacity: 0;
    // transform: translate3d(100%, 0, 0);
}

.amaryllis-notification-top-right-exit, .amaryllis-notification-top-left-exit {
    visibility: visible;
    opacity: 1;
    // transform: translate3d(0, 0, 0);
}
  
.amaryllis-notification-top-right-enter.amaryllis-notification-top-right-enter-active,
.amaryllis-notification-top-left-enter.amaryllis-notification-top-left-enter-active {
    visibility: visible;
    opacity: 1;
    // transform: translate3d(0, 0, 0);
    transition: all $amaryllis-notifications-transition-time ease-in-out;
}
  
.amaryllis-notification-top-right-exit.amaryllis-notification-top-right-exit-active,
.amaryllis-notification-top-left-exit.amaryllis-notification-top-left-exit-active {
    visibility: hidden;
    opacity: 0;
    // transform: translate3d(100%, 0, 0);
    // transform: translate3d(-100%, 0, 0);
    transition: all $amaryllis-notifications-transition-time-out ease-in-out;
}
